.learn-more {
  padding: 100px 10%;
  text-align: center;
  background-color: linear-gradient(135deg, #667eea, #764ba2);
  color: black;
}

.learn-more h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 10px;

}

.subtitle {
  color: black;
  margin-bottom: 60px;
  background-color: linear-gradient(135deg, #667eea, #764ba2);
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  background-color: linear-gradient(135deg, #667eea, #764ba2);
  gap: 30px;
}

.column-card {
  background: rgba(255, 255, 255, 0.06);
  background-color: linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 16px;
  padding: 30px;
  backdrop-filter: blur(10px);
}

.column-card h3 {
  margin-top: 15px;
}

.column-card p {
  color: black;
  font-size: 0.95rem;
}

.example {
  display: block;
  margin-top: 10px;
  font-style: italic;
  background-color: linear-gradient(135deg, #667eea, #764ba2);
  color: #3b92f5;
}

.icon {
  color: #3d8cec;
  background-color: linear-gradient(135deg, #667eea, #764ba2);
}


.Res{
  color: azure;
}